section.create 
  h3.create__title.container Create, edit, and download stunning educational videos in a blink!
  button.create__button Create My Video

section.online
  h3.online__title.container How can an online educational video maker benefit you?
  .online__wrapper.container_large
    .online__box.box 
      .box__item
        img(src="./images/online_svg1.png", alt="")
        h3.box__title Effortless creation process
        p.box__paragraph You don’t have to be a video editing 
          | pro to create five-star videos for your school or 
          | educational project. Renderforest educational video 
          | maker simplifies the process of creating educational 
          | animations down to several clicks. Make the best of 
          | the flexible cloud-based editing tools to have an attractive video ready in no time.

      .box__item        
        img(src="./images/online_svg2.png", alt="")      
        h3.box__title All-purpose video templates
        p.box__paragraph A large selection of editable templates 
          | allows you to create different types of videos while 
          | maintaining the same visual style, or adapt it to your 
          | needs. From whiteboard educational videos to 3D 
          | explainers and beyond, you can use an animated educational 
          | video maker to create captivating instructional videos for any purpose in one place.

      .box__item        
        img(src="./images/online_svg3.png", alt="")
        h3.box__title Availability and security
        p.box__paragraph Access your video projects anytime and from any 
          | device. Create, edit, and export videos on your desktop computer, 
          | laptop, tablet, or smartphone — all you need is an internet 
          | connection. Choose the audience of your video by setting it to 
          | private, or share the video via a custom link, to prevent 
          | unauthorized users from accessing your video.