section.customers
  .customers__images 
    img(src="./images/customers_1.png", alt="")
    img(src="./images/customers_2.png", alt="")
    img(src="./images/customers_3.png", alt="")
    img(src="./images/customers_4.png", alt="")
  h2.customers__title What our customers say about us
  
  img(src="./images/customers_ico.png", alt="")

  .customers__box.cards-wrapper
    .card
      .customers__paragraph I’m having so much fun creating my 
        | educational animation videos with Renderforest’s drag 
        | and drop features with its extensive library of 
        | templates and music library! My videos look 
        br 
        | amazing!
      img(src="./images/customers_stars.png", alt="")
      h4.customers__author Gracy Y
      span.customers__span Book Author 
    
    .card
      .customers__paragraph Section 2 I’m having so much fun creating my 
        | educational animation videos with Renderforest’s drag 
        | and drop features with its extensive library of 
        | templates and music library! My videos look 
        br 
        | amazing!
      img(src="./images/customers_stars.png", alt="")
      h4.customers__author Gracy Y
      span.customers__span Book Author 
    
    .card
      .customers__paragraph Section 3 I’m having so much fun creating my 
        | educational animation videos with Renderforest’s drag 
        | and drop features with its extensive library of 
        | templates and music library! My videos look 
        br 
        | amazing!
      img(src="./images/customers_stars.png", alt="")
      h4.customers__author Gracy Y
      span.customers__span Book Author 

  .dots-wrapper
    button.dot.active
    button.dot
    button.dot
