section.join 
  .join__wrapper.container
    .join__titlebox
      h3.join__maintitle Join our Facebook Community! 
      p.join__subtitle Become part of the large community of creators achieving their goals through video!
    button.join__button Join Us Today

section.tips 
  h2.tips__title Tips for effective educational videos on Renderforest blog
  .tips__box
    img.tips__images(src="./images/tips.png", alt="")
    p.tips__paragrapg How to Make Animated Educational Videos and Presentations?

    .tips_1
      include ../images/tips_1.svg
    .tips_2
      include ../images/tips_1.svg

  button.tips__button Sign Up
  