section.video
  .video__titlebox.container 
    p.video__paragraph Elevate the learning process of your students with an 
      | interactive educational video. Use our online educational 
      | video maker to craft instructional videos, send teacher messages, 
      | engage students with video assignments, or promote your school. 
      | Even if this is your first video creation experience, the 
      | combination of customizable video templates and intuitive editing 
      | tools allow you to have an engaging animation ready in no time.
    .video__line
    h2.video__title Educational video maker with customizable templates
  
  .video__box
    .video__wrapper.container
      .video__cards.card 
        img.card__bg(src="./images/card1.png", alt="card1") 
        a(href="") 
          img.card__play(src="./images/play.png", alt="card1") 
        h3.card__title 3D Explainer Video Toolkit
        button.card__button Create
      
      .video__cards.card 
        img.card__bg(src="./images/card2.png", alt="card1") 
        a(href="") 
          img.card__play(src="./images/play.png", alt="card1")
        h3.card__title Explainer Video Toolkit
        button.card__button Create

      .video__cards.card 
        img.card__bg(src="./images/card3.png", alt="card1") 
        a(href="") 
          img.card__play(src="./images/play.png", alt="card1")
        h3.card__title Educational Video Toolkit
        button.card__button Create
      
      .video__cards.card 
        img.card__bg(src="./images/card4.png", alt="card1") 
        a(href="") 
          img.card__play(src="./images/play.png", alt="card1")
        h3.card__title Teacher’s Video Message
        button.card__button Create
 
      .video__cards.card 
        img.card__bg(src="./images/card5.png", alt="card1") 
        a(href="") 
          img.card__play(src="./images/play.png", alt="card1")
        h3.card__title Online Education Promotion
        button.card__button Create
      
      .video__cards.card 
        img.card__bg(src="./images/card6.png", alt="card1") 
        a(href="") 
          img.card__play(src="./images/play.png", alt="card1")
        h3.card__title Advanced Online Educational Platform
        button.card__button Create
      
      .video__cards.card 
        img.card__bg(src="./images/card7.png", alt="card1") 
        a(href="") 
          img.card__play(src="./images/play.png", alt="card1")
        h3.card__title Online Educational Website Promotion
        button.card__button Create

      .video__cards.card 
        img.card__bg(src="./images/card8.png", alt="card1") 
        a(href="") 
          img.card__play(src="./images/play.png", alt="card1")
        h3.card__title Educational Platform Introduction
        button.card__button Create
      
      .video__cards.card 
        img.card__bg(src="./images/card9.png", alt="card1") 
        a(href="") 
          img.card__play(src="./images/play.png", alt="card1")
        h3.card__title E-Learning Platform Promotion
        button.card__button Create

      .video__arrow
        .arrow__up#scrollToTopBtn