section.animate 
  h2.animate__title.container How to make animated educational videos online?
  h2.animate__title.animate__title--mobile Why do you need video greeting cards?;
  .animate__wrapper.container
    .animate__box.animate__box--blue.box 
      .box__info.info 
        p.info__step Step 1
        h3.info__title Pick an educational video template
        .info__box 
          p.info__paragraph Start making your animation by 
            | going through the template library of our educational 
            | video maker and selecting your favorite one. Each template 
            | offers hundreds of scenes separated by categories such as 
            | classroom environment, different subjects, text animations, 
            | and more. Pick and add the scenes manually, or go with the 
            | fully customizable video presets, to streamline the creation. 
            | The scenes will then be added to the editor for further personalization.
      .box__anim
        img.anim_svg.anim_svg--center(src="./images/anim_svg1.png", alt="") 

    .animate__box.animate__box--red.box 
      .box__anim
        img.anim_svg.anim_svg--center(src="./images/anim_svg2.png", alt="")
        img.anim_svg.anim_svg--left(src="./images/anim_svg2l.png", alt="")

      .box__info.info  
        p.info__step Step 2
        h3.info__title Personalize your animation
        .info__box 
          p.info__paragraph Start making your animation by going through the 
            | template library of our educational video maker and selecting 
            | your favorite one. Each template offers hundreds of scenes 
            | separated by categories such as classroom environment, different 
            | subjects, text animations, and more. Pick and add the scenes 
            | manually, or go with the fully customizable video presets, to 
            | streamline the creation. The scenes will then be added to the 
            | editor for further personalization.
    
    .animate__box.animate__box--yellow.box 
      .box__info.info 
        p.info__step Step 3
        h3.info__title Export and share your video
        .info__box 
          p.info__paragraph Go to the “Preview” section to see the final 
            | version of your educational video. Ensure that there are no more 
            | changes to be made in your animation. Once the video is final, export 
            | it in your preferred quality. Then, instantly share the video to 
            | digital platforms, or download it to your device.
      .box__anim
        img.anim_svg.anim_svg--center(src="./images/anim_svg3.png", alt="")
        img.anim_svg.anim_svg--right(src="./images/anim_svg3r.png", alt="")
        