@import 'fonts';
@import 'media.scss';
@import 'header.scss';
@import 'section1.scss';
@import 'section2.scss';
@import 'section3.scss';
@import 'section4.scss';
@import 'section5.scss';
@import 'footer.scss';

body {
  min-width: 375px !important;
  font-family: Montserrat Regular;
  font-style: normal;
  font-variant: normal;
  line-height: 1;
  font-weight: 400;
}

html, body, ul, p, h1, h2, h3, h4, h5 {
  margin: 0;
  padding: 0;
}

.container_large {
  margin: 0 auto;
  
  @include lg {
    max-width: 1300px;
  }

  @include xl {
    max-width: 1400px;
  }

  @include xxl {
    max-width: 1400px;
  }
}

.container {
  max-width: 1480px;
  margin: 0 auto;

  @include xs {
    max-width: 300px;
  }

  @include sm {
    max-width: 420px;
  }
  
  @include md {
    max-width: 700px;
  }

  @include lg {
    max-width: 1136px;
  }

  @include xl {
    max-width: 1200px;
  }

  @include xxl {
    max-width: 1300px;
  }
}