.create {
    background-image: 
        url('../images/create_1.png'), 
        url('../images/create_2.png'),
        url('../images/create_bg.png');
    background-position: 
        left top, 
        right bottom,
        center center;    
    background-repeat: no-repeat;
    background-size: auto, auto, cover;
    text-align: center;

    @include xs {
        background-image: url('../images/create_bg.png');
        background-position: center center;    
        background-repeat: no-repeat;
        background-size: cover;
    }

    @include sm {
        background-image: url('../images/create_bg.png');
        background-position: center center;    
        background-repeat: no-repeat;
        background-size: cover;
    }

    .create__title {
        width: 525px;
        padding: 45px 0;
        margin: 0 auto;
        text-align: center;
        font: normal normal 600 26px/36px Montserrat Bold;
        color: #FFFFFF;

        @include xs {
            width: auto;
            font-size: 22px;
            line-height: 32px;
        }

        @include sm {
            width: auto;
            font-size: 22px;
            line-height: 32px;
        }
    }

    .create__button {
        margin-bottom: 74px;
        padding: 14px 30px;
        background: transparent linear-gradient(180deg, #FFFFFF 0%, #F5FAFE 100%) 0% 0% no-repeat padding-box;
        box-shadow: 0px 3px 9px #0052E01A;
        border: 1px solid #EEF5FF;
        border-radius: 25px;
        font: normal normal 600 18px/22px Montserrat Regular;
        color: #545F7E;
        text-transform: uppercase;

        @include xs {
            margin-bottom: 60px;
        }

        @include sm {
            margin-bottom: 60px;
        }
    }
} 

.online {
    background: url('../images/online_bg.png')no-repeat;
    background-size: cover;
    padding-bottom: 90px;

    @include xs {
        padding-bottom: 0;
    }

    @include sm {
        padding-bottom: 0;
    }

    @include md {
        padding-bottom: 0;
    }

    .online__title {
        width: 584px;
        padding: 75px 0;
        margin: 0 auto;
        text-align: center;
        font: normal normal 600 36px/46px Montserrat Bold;
        color: #363F5A;

        @include xs {
            width: auto;
            font-size: 26px;
            list-style: 34px;
        }

        @include sm {
            width: auto;
            font-size: 26px;
            list-style: 34px;
        }
    }
    
    .online__wrapper {
        .box {
            display: flex;
            justify-content: space-evenly;

            @include xs {
                flex-wrap: wrap;
            }

            @include sm {
                flex-wrap: wrap;
            }

            @include md {
                flex-wrap: wrap;
            }

            .box__item {
                position: relative;
                width: 375px;
                padding: 45px 0;
                background: #FFFFFF 0% 0% no-repeat padding-box;
                box-shadow: 0px 3px 6px #0037A033;
                border-radius: 10px;

                @include xs {
                    width: 335px;
                    margin-bottom: 60px;
                }

                @include sm {
                    width: 335px;
                    margin-bottom: 60px;
                }

                @include md {
                    width: 335px;
                    margin-bottom: 60px;
                }

                .box__title {
                    padding: 0 30px;
                    padding-bottom: 15px;
                    font: normal normal 600 20px/22px Montserrat Bold;
                    color: #363F5A;

                    @include xs {
                        font-size: 16px;
                        line-height: 22px;
                    }

                    @include sm {
                        font-size: 16px;
                        line-height: 22px;
                    }

                    @include md {
                        font-size: 18px;
                        line-height: 24px;
                    }
                }
                
                .box__paragraph {
                    padding: 0 30px;
                    font: normal normal 600 16px/22px Montserrat Regular;
                    color: #545F7E;
                    line-height: 1.7;

                    @include xs {
                        font-size: 14px;
                        line-height: 22px;
                    }

                    @include sm {
                        font-size: 14px;
                        line-height: 22px;
                    }
                }

                img {
                    position: absolute;
                    top: 0;
                    left: 0;
                    transform: translate(50%, -50%);
                }
            }
        }   
    } 
}