doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, min-width=375px, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Renderforest
  body
    include ./includes/header.pug
    include ./includes/section1.pug
    include ./includes/section2.pug
    include ./includes/section3.pug
    include ./includes/section4.pug
    include ./includes/section5.pug
    include ./includes/footer.pug